
body * {
    border: 3px solid black;
    font-family: "helvetica neue";
}

h1 {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 5px 10px;
    padding: 5px 10px;
}

.select {
    font-size: 2em;
}

.button {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: brown;
}



